/*
#16c2d5
#89dee2
#10217d
#527c88
#d7baad
#2e4450

*/

*,
html {
    font-family: "Raleway", sans-serif;
    color: #052049;

}

.nav-ctn {
    margin-top: 30px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: space-between;

}

.nav-list-name {
    margin-left: 4%;
    /* display: i; */
    float: left;
    text-align: center;
    list-style-type: none;
}

.nav-list-name a {
    text-align: center;
    text-decoration: none;
    padding: 16px;
    font-size: 2em;
}

.nav-list {
    margin-top: 5px;
    float: right;
    text-align: center;
    list-style-type: none;
    margin-right: 5%;
}
li {
    display: inline;
}
.nav-list li a {
    text-align: center;
    text-decoration: none;
    padding: 16px;
}
.nav-list li a:hover {
    background-color: #10217d;
    border-radius: 10px 100px / 120px;
    color: rgb(182, 173, 173);
}

.box {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
    background-color: #527c88;
    gap: 1rem;
}

.box-edit {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    font-size: 30px;
}
.box-edit form {
    text-align: center;
    place-self: center;
    grid-column: 2;
}
form button {
    padding: 0.2rem;
    text-decoration: none;
    border: none;
    font-size: 18px;
    border-radius: 0.5rem;
    background-color: #10217d;
    color: white;
}
