<html>

<head>
    <title>Sample app</title>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.4.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.4.2/firebase-database.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyAJclASRgCTLhf1dZ9pMvGROdioL8Nupx8",
            authDomain: "guardian-bf6a1.firebaseapp.com",
            projectId: "guardian-bf6a1",
            storageBucket: "guardian-bf6a1.appspot.com",
            messagingSenderId: "891014160494",
            appId: "1:891014160494:web:12c3cb1248ebec3d8d867f"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
    </script>
</head>

<body>
    <h1>{{ title }}</h1>
    <p><a href="/docs">Docs</a></p>
    <p><a href="/about">About</a></p>
    <p><a href="/">Home</a></p>
</body>

</html>