<IDOCTYPE>

    <head> 
        <link rel="stylesheet" href="static/style.css">
    </head>

    <div class="box">
        <div class="box-edit">
        <form> 
            <p>Box One<input type="text" name= "Field1_name" /></p>
            <p><input type = "submit" value = "submit" /></p>
        </form> 
        </div>
        <div class="box-edit"> 
            <form> 
                <p>Box Two<input type="text" name= "Field1_name" /></p>
                <p><input type = "submit" value = "submit" /></p>
            </form> 
        </div>
        <div class="box-edit"> 
            <form> 
                <p>Box Three<input type="text" name= "Field1_name" /></p>
                <p><input type = "submit" value = "submit" /></p>
            </form> 
        </div>
        <div class="box-edit"> 
            <form> 
                <p>Box Three<input type="text" name= "Field1_name" /></p>
                <p><input type = "submit" value = "submit" /></p>
            </form> 
        </div>
        <div class="box-edit"> 
            <form> 
                <p>Box Three<input type="text" name= "Field1_name" /></p>
                <p><input type = "submit" value = "submit" /></p>
            </form> 
        </div>
        <div class="box-edit"> 
            <form> 
                <p>Box Three<input type="text" name= "Field1_name" /></p>
                <p><input type = "submit" value = "submit" /></p>
            </form> 
        </div>
        <div class="box-edit"> 
            <form> 
                <p>Box Three<input type="text" name= "Field1_name" /></p>
                <p><input type = "submit" value = "submit" /></p>
            </form> 
        </div>
        <div class="box-edit"> 
            <form> 
                <p>Box Three<input type="text" name= "Field1_name" /></p>
                <p><input type = "submit" value = "submit" /></p>
            </form> 
        </div>
        <div class="box-edit"> 
            <form> 
                <p>Box Three<input type="text" name= "Field1_name" /></p>
                <p><input type = "submit" value = "submit" /></p>
            </form> 
        </div>
        <div class="box-edit"> 
            <form> 
                <p>Box Three<input type="text" name= "Field1_name" /></p>
                <p><input type = "submit" value = "submit" /></p>
            </form> 
        </div>
        <div class="box-edit"> 
            <form> 
                <p>Box Three<input type="text" name= "Field1_name" /></p>
                <p><input type = "submit" value = "submit" /></p>
            </form> 
        </div>
        
        

    </div>
</IDOCTYPE>